{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoping3</title>
</head>
<body>
    <img src="{% static 'images/3in 1.jpg' %}" class="rounded float-left" alt="...">
    <div class="card-body">
        <h2 class="card-title">Women's Crepe MultiColor Digital Printed Straight Kurti</h2>
        <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
          </svg>453</h2>
          <small class="text-muted">free delivery</small>
        <p class="card-text">Name : Stylish Women's Crepe MultiColor Digital Printed Straight Kurti

            Fabric : Crepe
            
            Sleeve Length : Three-Quarter Sleeves
            
            Pattern : Printed
            
            Combo of : Combo of 3
            
            Sizes : 
            S (Bust Size : 36 in, Size Length: 44 in)
            
            M (Bust Size : 38 in, Size Length: 44 in)
            
            L (Bust Size : 40 in, Size Length: 44 in)
            
            XL (Bust Size : 42 in, Size Length: 44 in)
            
            XXL (Bust Size : 44 in, Size Length: 44 in)
            
            This beautiful women’s digital printed Kurti fabricated with 100% American crepe is sure to keep you comfortable in summers and winters both. The kurti has 3/4th sleeves, round neck, Wear it casually, formally or daily wear. You know you already love it, so make it yours now.Available Sizes : S, M, L, XL, XXL.
            
            Country of Origin : India
            
            More Information</p>
            <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
              </svg> Add card</h2>
        <a href="https://www.meesho.com/chitrarekha-fabulous-kurtis/p/1kjg12" class="btn btn-primary">Next</a>
      </div><hr>
<img src="{% static 'images/banita.jpg' %}" class="rounded float-right" alt="...">
<h2 class="card-title">banita:</h2>
<h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
    <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
  </svg>300</h2> <small class="text-muted">free delivery</small>
  <h1>Product details</h1>
<p class="card-text">Name : kurti

    Fabric : Georgette
    
    Sleeve Length : Three-Quarter Sleeves
    
    Pattern : Solid
    
    Combo of : Single
    
    Sizes : 
    M, L, XL, XXL, XXXL, 4XL, 5XL
    
    Gear up for a casual getaway with this pink A-line kurta.
    
    Tailored in georgette and featuring round neck, three-quarter sleeves, flared hem,
    
    this kurta is the perfect amalgamation of fashion and functionality.
    
    Round neck with floral embroidery 3/Q flared sleeves,
    
    A-line silhouette with flared hem Calf length Crepe.
    
    Country of Origin : India</p>
    <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
      </svg> Add card</h2>
  <a href="" class="btn btn-primary">Next</a>
  <hr>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{% static 'images/trendy.jpg' %}" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">Trendy:</h2>
          <h3>Carbonn Cloth Men Checkered Casual Brown Shirt</h3>
          <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
          </svg>600</h2> <small class="text-muted">free delivery</small><h1>Product details</h1>
          <p class="card-text">Name : Carbonn Cloth Men Checkered Casual Brown Shirt

            Fabric : Cotton
            
            Sleeve Length : Short Sleeves
            
            Pattern : Checked
            
            Net Quantity (N) : 1
            
            Sizes : 
            S (Chest Size : 39 in, Length Size: 29.5 in)
            
            Carbonn Cloth presents to you a new range of stylish and cool new shirts yet which are affordable for everyone .These comes in different sizes and colors, for everybody's taste
            
            Country of Origin : India</p>
            <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
              </svg> Add card</h2>
          <p class="card-text"><small class="text-muted">Next</small></p><hr>
        </div>
      </div>
    </div>
  </div>
<!--nxt-->
<div class="card-group">
    <div class="card">
      <img src="{% static 'images/g_pink.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">gents pink:</h2>
        <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
          </svg>300</h2> <small class="text-muted">free delivery</small>
          <h1>Product details</h1>
        <p class="card-text">Name : Pink Woven Design Open Toe Flats For Women

            Material : PVC
            
            Fastening & Back Detail : Open Back
            
            Pattern : Woven Design
            
            Net Quantity (N) : 1
            
            Sizes : 
            IND-4, IND-5, IND-6, IND-7, IND-8
            
            Country of Origin : India</p>
            <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            </svg>Add card</h2>
            <a href="https://www.meesho.com/aadab-attractive-women-flipflops-slippers/p/1xplyl" class="btn btn-primary">Next</a><hr>
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="card">
      <img src="{% static 'images/formal.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Formals:</h2>
        <h3>Mr Men Formal Sandals, Casual Sandals, Sandals For men, Men's Footwear, Party Wear Sandals, Brown Sandals, Brown Formal Sandals, Brown Casual Sandals, Brown Party Wear Sandals</h3>
        <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
          </svg>420</h2> <small class="text-muted">free delivery</small>
          <h1>Product details</h1>
        <p class="card-text">Name : Mr Men Formal Sandals, Casual Sandals, Sandals For men, Men's Footwear, Party Wear Sandals, Brown Sandals, Brown Formal Sandals, Brown Casual Sandals, Brown Party Wear Sandals

            Material : Synthetic
            
            Sole Material : TPR
            
            Fastening & Back Detail : Velcro
            
            Pattern : Solid
            
            Net Quantity (N) : 1
            
            Sizes : 
            IND-6, IND-7, IND-8, IND-9, IND-10
            
            Country of Origin : India</p>
            <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            </svg>Add card</h2>
            <a href="https://www.meesho.com/latest-fashionable-men-sandals/p/6nxlk" class="btn btn-primary">Next</a><hr>
      </div>
      
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div><!---N-->
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'images/gorgeous.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">gorgeous:</h2>
            
        <h3>Trendy Look With Full Stretchable Lycra Clothe With Both Side Zipper Pocket Navy Blue Plain Lower</h3>
              <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
              </svg>220</h2> <small class="text-muted">free delivery</small>
              <h1>Product details</h1>
              <p class="card-text">Name : Trendy Look With Full Stretchable Lycra Clothe With Both Side Zipper Pocket Navy Blue Plain Lower

                Fabric : Lycra
                
                Pattern : Solid
                
                Net Quantity (N) : 1
                
                Sporty Look Daily Wear With Both Side Zipper Pocket Full Stretchable Lycra Clothe For All Men & Boys Fitted Plain Navy Blue Track Pant
                
                Sizes : 
                28 (Waist Size : 28 in, Length Size: 38 in)
                
                30 (Waist Size : 30 in, Length Size: 39 in)
                
                32 (Waist Size : 32 in, Length Size: 39 in)
                
                34 (Waist Size : 34 in, Length Size: 39 in)
                
                Country of Origin : India</p>
                <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                  </svg> Add card</h2><a href="https://www.meesho.com/gorgeous-unique-men-track-pants/p/1ox5ge?page=1" class="btn btn-primary">Next</a><hr>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'images/mufflers.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">mufflers:</h2>
              <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
              </svg>260</h2> <small class="text-muted">free delivery</small>
              <h1>Product details</h1>
              <p class="card-text">Name : Ambitieux Muffler for men and women with very soft material and stretchable scarf shawl

                Fabric : Wool
                
                Pattern : Striped
                
                Net Quantity (N) : 1
                
                Sizes : Free Size (Length Size: 1.5 m)
                
                RAND NEW & High Quality Stylish Winter Wear Muffler With Modern Pattern Style Design That Keeps Your Neck And Chest Warm
                
                Country of Origin : India
                
                More Information</p>
              <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            </svg>Add card</h2>
            <a href="https://www.meesho.com/essential-men-mufflers/p/33wyvb" class="btn btn-primary">Next</a><hr>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'images/monk.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">monk:</h2>
              <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
              </svg>100</h2> <small class="text-muted">free delivery</small>
              <h1>Product details</h1>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            </svg>Add card</h2>
            <a href="" class="btn btn-primary">Next</a><hr>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'images/j_fancy.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">jewellery fancy:</h2>
              <h3>Twinkling Beautiful jewellery Sets</h3>
              <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
              </svg>300</h2> <small class="text-muted">free delivery</small>
              <h1>Product details</h1>
              <p class="card-text">Name : Twinkling Beautiful jewellery Sets

                Base Metal : Alloy
                
                Plating : Gold Plated
                
                Stone Type : Artificial Stones
                
                Sizing : Adjustable
                
                Type : Haram and Earrings
                
                Net Quantity (N) : 2 Necklaces (For J-Set)
                
                It has 2 piece of women's necklace with 1 pair earrings
                
                Country of Origin : India</p>
              <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
            </svg>Add card</h2>
            <a href="" class="btn btn-primary">Next</a><hr>
            </div>
          </div>
        </div>
      </div>
<!---N--><hr>
    <div class="card">
        
      <img src="{% static 'images/relaxed.jpg' %}" class="card-img-top" alt="...">
      <h2 class="card-title">relaxed:</h2>
      <h3>Multicolor Printed Running Shoes For Men - Pack of 2</h3>
      <div class="card-body">
        <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
          </svg>230</h2> <small class="text-muted">free delivery</small>
          <h1> Product details </h1>
        <p class="card-text">Name : Multicolor Printed Running Shoes For Men - Pack of 2

            Material : Mesh
            
            Sole Material : PVC
            
            Fastening & Back Detail : Lace-Up
            
            Pattern : Printed
            
            Multipack : 2
            
            Comfortable Running Sports shoes
            
            Sizes : 
            IND-7, IND-6, IND-10, IND-9, IND-8</p>
      </div>
      <div class="card-footer">
        <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>Add card</h2>
        <a href="" class="btn btn-primary">Next</a><hr>
      </div>
    </div>
  </div>
<hr>
  <!---3rd-->
  <div class="card-body">
    <h2 class="card-title">Women Short Kurtis:</h2>
    <img src="{% static 'images/short kurtis.jpg' %}" class="card-img-top" alt="...">
    <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
        <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
      </svg>299</h2>
    <p class="card-text">Name : Women Short Kurtis

        Fabric : Cotton Slub
        
        Sleeve Length : Three-Quarter Sleeves
        
        Pattern : Solid
        
        Combo of : Single
        
        Sizes : 
        S, M, L, XL, XXL
        
        Country of Origin : India</p>
    <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
    </svg>Add card</h2>
  </div>
  <a href='{% url "shoping" %}'>Next page1</a> 

<a href='{% url "shoping2" %}'>Next page2</a>
</body>
</html>